version: "3.9"
services:
  app:
    build: .
    environment:
      MODE: "text"
      ALGO: "sha256"
      INPUT_TEXT: "Hello from compose"
    volumes:
      - ./data:/app/data

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv4: "true"
      com.docker.network.enable_ipv6: "false"
